[user]
	name = Louis Kosak
	email = lkosak@plaid.com
[core]
  editor = /usr/bin/vim
  precomposeunicode = true
	excludesfile = /Users/lkosak/.gitignore_global
  sparseCheckout = true
	untrackedcache = true
	fsmonitor = true
[color]
  status = auto
  diff = auto
	ui = auto
[alias]
  s = status
  d = diff
  dc = diff --cached
  c = commit
  b = branch
  co = checkout
  undo = reset --soft HEAD^
  innit = ! sh -c 'open http://ultra.daney.es/'
  latest = rev-parse --short HEAD
  rebuild = ! git push -f koality HEAD:refs/for/$(git rev-parse --abbrev-ref HEAD)
  prune-merged = ! "git branch --merged master | grep -v -E '^(\\* |  master$)' | xargs -n 1 git branch -d"
  plog = log --graph --abbrev-commit --pretty=oneline
[log]
  date=short
[format]
  pretty=format:%C(yellow)%h%Creset -%C(red)%d%Creset %s %Cgreen(%ad) %C(bold blue)<%an>%Creset
[difftool "Kaleidoscope"]
  cmd = ksdiff-wrapper git \"$LOCAL\" \"$REMOTE\"
[difftool]
  prompt = false
[diff]
  tool = Kaleidoscope
[heroku]
  account = personal
[push]
  default = current
[rerere]
  enabled = true
[pager]
  branch = false
[url "git@github.plaid.com:"]
	insteadOf = https://github.plaid.com/
