[user]
	name = Lou Kosak
	email = lou.kosak@airbnb.com
[core]
	editor = /usr/bin/vim
[color]
	status = auto
	diff = auto
	ui = auto
[alias]
  s = status
  d = diff
  dc = diff --cached
  c = commit
  b = branch
  co = checkout
  undo = reset --soft HEAD^
[log]
  date=short
[format]
  pretty=format:%C(yellow)%h%Creset -%C(red)%d%Creset %s %Cgreen(%ad) %C(bold blue)<%an>%Creset	
[difftool "Kaleidoscope"]
  cmd = ksdiff-wrapper git \"$LOCAL\" \"$REMOTE\"
[difftool]
  prompt = false
[diff]
  tool = Kaleidoscope
[heroku]
	account = personal
[push]
	default = simple
[rerere]
  enabled = 1
